/* CSS RESET  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: white;
  scroll-behavior: smooth;
}
body {
  /* font-family: "Press Start 2P", cursive; */
  font-family: monospace;
  background-color: black;
  height: 100vh;
}

/* HEADER SECTION */

.header {
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  top: 0;
  left: 0;
  border-bottom: 1px ridge rgba(255, 255, 255, 0.251);
}

.header .header_h1 {
  letter-spacing: 0.5rem;
  padding: 20px 8%;
  font-style: bolder;
  font-size: 2rem;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header_nav .header_ul li {
  list-style-type: none;
  padding: 30px 30px;
  display: inline-block;
}

.header_nav .header_ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-style: bolder;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
  );
  -webkit-background-clip: text;
}

.header_nav .header_ul li a:hover,
.header_nav .header_ul li a:focus {
  -webkit-text-fill-color: transparent;
  transition: 500ms ease;
}

/* MAIN SECTION */

/* main {
  min-height: 100vh;
} */

.home-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 130px 100px 150px 120px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.251);
}
.download-resume-btn {
  color: white;
  margin: 10px 150px 0;
  font-size: 1.2rem;
  max-width: 230px;
  height: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 143, 255, 0.753);
  border-radius: 5px;
  box-shadow: rgba(30, 143, 255, 0.753) 0px 0px 15px 0px;
}

.download-resume-btn:hover {
  transform: scale(1.2);
}

.download-icon {
  padding-left: 10px;
  padding-top: 8px;
  font-size: 25px;
}

.home-section-image {
  margin-top: -30px;
}

.home-section-intro {
  max-width: 650px;
}

.home-section-intro h1 {
  letter-spacing: 0.3rem;
  font-size: 3.1rem;
  padding-left: 30px;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-section-intro h2 {
  font-size: 2.4rem;
  letter-spacing: 0.15rem;
}

.home-section-intro p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.h2-bottom {
  padding-bottom: 10px;
}

.comp-science {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-section {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255, 255, 255, 0.251);
  padding: 30px 0;
}

.about-descriptions {
  max-width: 750px;
  line-height: 1.6rem;
}

.about-descriptions p {
  color: darkgrey;
}

.about-descriptions h1 {
  font-size: 1.8rem;
  text-decoration: underline;
}

.seng-profile {
  border-radius: 40px;
  margin-left: 50px;
}

.education-info {
  display: flex;
  justify-content: space-between;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-project h1 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  padding: 40px 0;
}

.seng-project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.251);
}

.seng-project-box {
  width: 400px;
  height: 600px;
  background-color: black;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.404);
  position: relative;
  border-radius: 25px;
}

.seng-project-box::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 90%;
  background: linear-gradient(red, blue);
  z-index: -1;
  filter: blur(20px);
  top: 20px;
  left: 20px;
  transition: all 500ms ease;
}

.seng-project-box:hover::after {
  height: 103%;
  width: 103%;
  top: 0;
  left: 0;
}

.visualisation-image {
  width: 100%;
  height: 40%;
  border-radius: 25px 25px 0 0;
  background-repeat: no-repeat;
}

.seng-project-h3 {
  color: rgba(255, 255, 255, 0.927);
  line-height: 2rem;
  padding: 20px 5px 3px 5px;
  text-align: center;
  font-size: 1.3rem;
}
.suicide-cases {
  color: rgba(255, 0, 0, 0.781);
  font-size: 1.7rem;
}
.seng-project-box p {
  text-align: center;
  line-height: 1.3rem;
  color: darkgray;
  padding-left: 10px;
  padding-right: 5px;
}

.project-btn {
  height: 50px;
  text-decoration: none;
  position: absolute;
  width: 200px;
  border-radius: 8px;
  margin: 510px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 230, 208, 0.945);
  font-family: sans-serif;
  font-weight: bolder;
  color: black;
  border: 1.5px solid white;
  box-shadow: rgba(10, 230, 208, 0.945) 0px 0px 15px 0px;
}

.project-btn:hover {
  transform: scale(1.2);
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer-element {
  margin-top: 10px;
  padding: 5px 20px;
}

.logo ion-icon {
  width: 25px;
  height: 25px;
  color: white;
}

.copy-right {
  padding: 13px 20px;
  font-size: 1.2rem;
}
